*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  background-color: #153f51;
  color: white;
  font-weight: 500;
  width: auto;
  padding: 8px 15px;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #153f51;
  border-radius: 3px 3px 3px 3px;
}
:root {
  --font-title: 'Montserrat', sans-serif;
  --font-body: 'Open Sans', sans-serif;
}

body {
  font-family: var(--font-body);
}

h1,
h2,
h3 {
  font-family: var(--font-title);
}
