.fixed-lines-bg {
  position: fixed;
  inset: 0;
  background-image: url('/fondofijo.png');
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: cover;
  z-index: 1;
  pointer-events: none;
}
